.footer {
background-color: #4C524A;
text-align: center;
padding: 50px;
margin-top: 30px;
}

.footer ul {
list-style-type: none;
text-align: center;
margin: 0px;
padding-left: 0px;
}

.footer li {
display: inline;
margin: 0px;
}

.footer i {
font-size: 32px;
color: #6AD58B;
margin: 0px 5px;
}

.footer p {
color: #737C70;
}
